.sayings {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
}

.sayings__testimonials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
}

.sayings__upper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.trying {
    color: red;
}

.testimonials__bg {
    position: absolute;
    width: 150px;
    height: 438px;
    left: 60%;
    top: 0px;
    z-index: 0;
    background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);

    filter: blur(120px);
    /* border-radius: 200px; */
    /* transform: rotate(47.46deg); */
}

@media screen and (max-width:1200px){
    .sayings__testimonials {
        flex-direction: column;
        gap: 2rem;
    }
    .sayings__upper {
        flex-direction: column;
        gap: 1rem;
    }
}