.sayings {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sayings__testimonials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
}

.sayings__upper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.trying {
    color: red;
}

@media screen and (max-width:1200px){
    .sayings__testimonials {
        flex-direction: column;
        gap: 1rem;
    }
    .sayings__upper {
        flex-direction: column;
        gap: 1rem;
    }
}