.sponsors {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    column-gap: 6rem;
    flex-wrap: wrap;
}

.sponsors__icons {
    display: flex;
    align-items: center;
}

.sponsors__icons img {
    width: 70%;
    height: 100%;
}

.sponsors__dropbox {
    gap: 1rem;
}