.sponsors {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    column-gap: 6rem;
    flex-wrap: wrap;
}

.sponsors__icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsors__icons img {
    width: 70%;
    height: 100%;
}

.sponsors__dropbox {
    gap: 1rem;
}

.sponsors__dropbox img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 500px) {
    .sponsors {
        flex-direction: column;
        gap: 2rem;
    }
}