.features {
    position: relative;
}

.features__bg {
    position: absolute;
    width: 200px;
    height: 471px;
    left: 10%;
    top: 0;
    z-index: 0;
    background: rgba(255, 255, 255, 0.6);
    filter: blur(200px);
    transform: rotate(176.62deg);
}

.transaction__text button {
    display: none;
}

.features__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.transaction__card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction__card img {
    width: 100%;
    height: 100%;
}

.features__brands {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

@media screen and (max-width:1024px) {
    .features__container {
        flex-direction: column;
        gap:2rem;
    }
}